<div id="cart_items">
    <div class="container">
        <div *ngIf="isLoading">
            <loading-view></loading-view>
        </div>
        <div *ngIf="!isLoading">
            <div class="breadcrumbs">
                <h4><a [routerLink]="['/home']">Home</a></h4>
            </div>
            <h2 class="title text-center">Administraci&oacute;n de roles.</h2>
            <div class="esport-form">
                <role-form (addRole)='addRole($event)' [updateAction]='false'></role-form>
            </div>
        </div>
    </div>
</div>