<div class="table-responsive cart_info">
    <table class="table table-condensed">
	    <thead>
		    <tr class="cart_menu">
			    <td class="description">Producto</td>
				<td class="price">Precio</td>
				<td class="quantity">Cantidad</td>
				<td *ngIf="isACurrentCartView" class="quantity">Agregar/Quitar</td>
				<td class="total">Total</td>
				<td></td>
			</tr>
		</thead>
        <tbody *ngFor='let cartItem of cartItems'>
            <tr>
                <td class="tableItem_description">
                    <h4>{{cartItem.ProductDescription}}</h4>
                    <p *ngIf="isACurrentCartView">ID: {{cartItem.ProductId}}</p>
                </td>
                <td class="cart_price">
                    <p>$ {{cartItem.UnitAmount}}</p>
                </td>
                <td class="cart_quantity">
                    <h4 *ngIf="isACurrentCartView">Cantidad actual: {{cartItem.Quantity}}</h4>
                    <h4 *ngIf="!isACurrentCartView">Cantidad: {{cartItem.Quantity}}</h4>
                </td>
                <td  *ngIf="isACurrentCartView" class="cart_quantity">
                    <div class="cart_quantity_button">
                        <a class="cart_quantity_up" (click)="onClickAddItem(cartItem.ProductId,cartItem.InputQuantity)"> + </a>
                        <input class="cart_quantity_input" type="text" name="inputQuantity"  autocomplete="off" size="2" [(ngModel)]="cartItem.InputQuantity">
                        <a class="cart_quantity_down" (click)="onClickRemoveItem(cartItem.ProductId, cartItem.InputQuantity)"> - </a>
                    </div>
                </td>
                <td class="cart_total">
                    <p class="cart_total_price">$ {{cartItem.ItemAmount}}</p>
                </td>
                <td class="cart_delete">
                    <a *ngIf="isACurrentCartView" class="cart_quantity_delete" (click)="onClickRemoveAllItem(cartItem.ProductId,cartItem.Quantity)"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>