<div id="cart_items">
    <div class="container">
        <div *ngIf="isLoading">
            <loading-view></loading-view>
        </div>
        <div *ngIf="!isLoading">
            <div class="breadcrumbs">
                <h4><a [routerLink]="['/home']">Home</a></h4>
            </div>
            <h2 class="title text-center">Alta de producto.</h2>

            <div class="esport-form">
                <product-form (addProduct)='addProduct($event)' [updateAction]='false'></product-form>
            </div>
        </div>
    </div>
</div>