<div *ngIf="isLoading">
	<loading-view></loading-view>
</div>
<div *ngIf="!isLoading">
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<h4><a [routerLink]="['/home']">Home</a></h4>
			</div>
			<h2 class="title text-center">Carrito en curso.</h2>
			<cartItem-view [isACurrentCartView]='true' [cartItems]='userContext.currentCart.itemsDTO' (addItem)='addItem($event)' (removeItem)='removeItem($event)'
			 (removeAllItems)='removeAllItem($event)'></cartItem-view>
		</div>
	</section>

	<section id="do_action">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Total <span>$ {{userContext.currentCart.total}}</span></li>
							<li><input type="text" placeholder="Direcci&oacute;n de env&iacute;o" [(ngModel)]="cartModel.deliveryAddress" name="deliveryAddress"
								/></li>
							<li><input type="text" placeholder="Tel&eacute;fono de env&iacute;o" [(ngModel)]="cartModel.deliveryPhone" name="deliveryPhone"
								/></li>
						</ul>
						<a class="btn btn-default update" (click)="cancelCart()" [routerLink]="['/home']">Cancelar carrito</a>
						<a class="btn btn-default check_out" (click)="confirmCart()" [routerLink]="['/home']">Confirmar carrito</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>